<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>FULLSTACKED is a Web Development blog that features Articles, Videos, and Additional Resources about web development.</p>
    <br>
    <p>FULLSTACKED was made with HTML, CSS, JavaScript, Node.js, Express.js,and MongoDB, EJS, Lodash, Mongoose, and Morgan.  </p>
    <br>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>